.toggle(class=className, data-state=state)
  .toggle-handle(class=handleClass)
  .toggle-progress-wrap
    .toggle-progress
      .toggle-progress-fill= fillText || ''
      .toggle-progress-empty= emptyText || ''
  .toggle-states
    each state in states
      div(data-state=state)
        if typeof stateMarker != 'undefined'
          div(class=stateMarker)
